body {
    font-family: sans-serif;
    background-color: rgb(212, 0, 255);
}

h1 {
    font-size: 50px;
    text-align: center;
    background-color: blue;
}

nav {
    border-top: 3px solid blue;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid blue;
    background-color: rgb(210, 255, 9);
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: navy;
    margin-top: 15px;
    margin-bottom: 15px;

}

.head_img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: rgb(195, 0, 255);
    margin-left: 100px;
    font-size: 30px;
    font-family: cursive;
    background-color: rgb(245, 191, 121);
}

.catalog a {
    text-decoration: none;
    color: black;
    border-bottom: 1px dotted black;
    font-size: 20px;
}

.catalog {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px;
    background-color: rgb(55, 112, 134);
}

.product {
    width: 150px;
    text-align: center;
    padding: 10px;
    border: 5px double orange;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: bisque;
}

.principles {
    display: flex;
    border-top: 5px solid navy;
    border-bottom: 5px solid navy;
    justify-content: space-between; 
    width: 700px;
    margin: 0 30px;
    padding: 30px;
    text-align: center;
}

.principle {
    width: 120px;
}

.slogan {
    display: flex;
    padding: 30px;
 color: rgb(255, 0, 0);
    margin-left: 150px;
    width: 100%;
    
}

.slogan_img {
    padding: 10px;
    border: 5px solid orange;
    border-radius: 100%;
}

.slogan_text {
    float:left;
    color: mediumblue;
    margin: 20px;
}

footer {
    background-color: darkolivegreen;
    color: white;
    padding: 10px;
    font-size: 20px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px ;
}

main{ 
background-color: rgb(0, 255, 191);

}
